# 編譯產生的二進制檔案 (如 _cat, _ls 等)
user/_*

# 核心與工具執行檔
kernel/kernel
mkfs/mkfs

# 磁碟映像檔
*.img
fs.img

# Python cache
__pycache__/

# 偵錯工具設定
.gdbinit

# 自動生成的組合語言
user/usys.S

# original part
xv6.out*
.DS_Store
*.o
*.d
*.asm
*.sym